body {
    font-family: 'Arial', sans-serif;
    background: #f1e6ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0 10px;
}


main {
    background: #fff;
    border-top: 8px solid #673ab7;
    border-radius: 8px;
    padding: 35px 60px;
    text-align: left;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    max-width: 800px;
    width: 70%;
}


.container h1 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #333;
}

.container p {
    color: #555;
    font-size: 1.1em;
}


.link-group {
    display: flex;
    flex-direction: column; 
    gap: 8px;
}

.form{
    margin-bottom: 15px;
}

.edit-link,
.back-link {
    color: #1a73e8;
    text-decoration: none;
    font-weight: 500;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #666;
    line-height: 1.6;
}

.footer-links {
    margin: 8px 0;
}

.footer-links a {
    color: #1a73e8;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

footer h2 {
    margin-top: 10px;
    font-size: 1em;
    color: #777;
}

footer .pwd_medical_form {
    text-decoration: none;
    text-align: center;
    color: #777;
    margin-left: 0;
}

/* 🖥️ Styles for screen widths 601px and up */
@media (min-width: 901px) {
    main {
        min-width: 700px;
    }

    .container h1 {
        font-size: 2em;
    }

    .container p {
        font-size: 1.2em;
    }
    .link-group {
        flex-direction: column;
        gap: 8px;
    }
}
